---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-else-after-return

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
...
